.note {
  width: 200px;
  height: 200px;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px #000000;
  cursor: pointer;
}

.note .note-text {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
.note textarea {
  width: 100%;
  height: 70%;
  display: block;
}

.note h1 {
  font-size: 2rem;
  cursor: default;
  pointer-events: none;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note h1 button {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 1rem;
  pointer-events: all;
}

.note textarea {
  display: block;
  width: 100%;
  height: 60%;
  overflow-y: auto;
}
